@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primaryBColor: #7c1fa3;
  --secondaryBColorDark: #4a0072;
  --secondaryBColorLight: #af52d5;

}

body {
  background-color: var(--primaryBColor);
}

#header {
  background-color: var(--secondaryBColorDark);
  color: #ffffff;
  /* border-bottom: 1px solid #000000; */
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  font-family: 'Playfair Display', 'Arial';
  font-weight: 700;
  padding: 10px;
}

.vertical-center {
    min-height: 80%;
    min-height: 80vh;
  
    display: flex;
    align-items: center;
}

.width {
  min-width: 310px;
  max-width:50vw;
} 

h3 {
  color: var(--secondaryBColorDark);
  font-family: 'Playfair Display', 'Arial';
  font-weight: 700;
}

#quote-box {
  color: var(--primaryBColor);
  font-family: 'Poppins';
  padding-top: 10px;
}

.text {
  margin-top: 1rem;
  font-weight: 400;
  font-style: italic;
}

.author {
  width: fit-content;
}

.buttonColor {
  background-color: var(--secondaryBColorLight);
  color: #000000;
  border: none;
  font-family: 'Poppins';
}
